* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

/*header section*/

header,
footer {
    background: #1f2937;
    color: antiquewhite;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5rem;
}

nav ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
    /*make text glow*/
}

/*hero section*/

